@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --violet-teaser: #6e56cf; /* Violet 9 */
    --orange-teaser: #f76b15; /* Orange 9 */
  }

  :root[class~="mauve"] {
    --app-bg: #ffffff;
    --panel-bg: #faf9fb; /* Darker - Mauve 2 */
    --layout-divider: #f2eff3; /* More Dark - Mauve 3 */

    --app-fg: #211f26; /* Mauve 12 */
    --app-fg-subtle: #65636d; /* Mauve 11 */

    --component-neutral-bg: #f2eff3; /* Mauve 3 */
    --component-neutral-hover: #eae7ec; /* Mauve 4 */
    --component-neutral-active: #e3dfe6; /* Mauve 5 */
    --component-neutral-border-ring: #d0cdd7; /* Mauve 7 */
  }

  :root[class~="violet"] {
    --component-accent-bg: #f4f0fe; /* Violet 3 */
    --component-accent-hover: #ebe4ff; /* Violet 4 */
    --component-accent-active: #e1d9ff; /* Violet 5 */
    --component-accent-border-ring: #c2b5f5; /* Violet 7 */
  }

  :root[class~="sand"] {
    --app-bg: #ffffff;
    --panel-bg: #f9f9f8; /* Darker - Sand 2 */
    --layout-divider: #f1f0ef; /* More Dark - Sand 3 */

    --app-fg: #21201c; /* Sand 12 */
    --app-fg-subtle: #63635e; /* Sand 11 */

    --component-neutral-bg: #f1f0ef; /* Sand 3 */
    --component-neutral-hover: #e9e8e6; /* Sand 4 */
    --component-neutral-active: #e2e1de; /* Sand 5 */
    --component-neutral-border-ring: #cfceca; /* Sand 7 */
  }

  :root[class~="orange"] {
    --component-accent-bg: #ffefd6; /* Orange 3 */
    --component-accent-hover: #ffdfb5; /* Orange 4 */
    --component-accent-active: #ffd19a; /* Orange 5 */
    --component-accent-border-ring: #f5ae73; /* Orange 7 */
  }

  :root[class~="dark"][class~="mauve"] {
    --app-bg: #1a191b; /* Mauve 2 */
    --panel-bg: #121113; /* Darker - Mauve 1 */
    --layout-divider: #000000; /* More Dark */

    --app-fg: #eeeef0; /* Mauve 12 */
    --app-fg-subtle: #b5b2bc; /* Mauve 11 */

    --component-neutral-bg: #232225; /* Mauve 3 */
    --component-neutral-hover: #2b292d; /* Mauve 4 */
    --component-neutral-active: #323035; /* Mauve 5 */
    --component-neutral-border-ring: #49474e; /* Mauve 7 */
  }

  :root[class~="dark"][class~="violet"] {
    --component-accent-bg: #291f43; /* Violet 3 */
    --component-accent-hover: #33255b; /* Violet 4 */
    --component-accent-active: #3c2e69; /* Violet 5 */
    --component-accent-border-ring: #56468b; /* Violet 7 */
  }

  :root[class~="dark"][class~="sand"] {
    --app-bg: #191918; /* Sand 2 */
    --panel-bg: #111110; /* Darker - Sand 1 */
    --layout-divider: #000000; /* More Dark */

    --app-fg: #eeeeec; /* Sand 12 */
    --app-fg-subtle: #b5b3ad; /* Sand 11 */

    --component-neutral-bg: #222221; /* Sand 3 */
    --component-neutral-hover: #2a2a28; /* Sand 4 */
    --component-neutral-active: #31312e; /* Sand 5 */
    --component-neutral-border-ring: #494844; /* Sand 7 */
  }

  :root[class~="dark"][class~="orange"] {
    --component-accent-bg: #331e0b; /* Orange 3 */
    --component-accent-hover: #462100; /* Orange 4 */
    --component-accent-active: #562800; /* Orange 5 */
    --component-accent-border-ring: #7e451d; /* Orange 7 */
  }

  body {
    @apply bg-[var(--app-bg)] text-[var(--app-fg)];
  }
}
